# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Model cache
.cache/
.pytorch/